.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #09e7a5, #3da8c9);
  border-radius: 15px;
  padding-top: 20px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 70px;
  margin-left: 15px;
}
@media only screen and (max-width: 768px) {
  .sidenav {
    width: 50px;
  }
}
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
  font-family: cursive;
}
.sidenav a:hover {
  /* background-color: #82f5bd; */
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px 10px #101849;
  box-shadow: 0 0 15px 10px #3748ba;
  transition: 0.5s;
  color: aliceblue;
}
.main {
  margin-left: 250px; /* Adjust this value to match the width of the sidenav */
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 16px;
  }
}
i {
  width: 25px;
  margin-right: 5px;
}
#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: navy;
  font-size: x-large;
}
#title span {
  color: rgb(13, 198, 195);
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#navbar {
  position: sticky;
  top: 0;
  /* overflow: hidden; */
  z-index: 100000;
}
/* .sidenav span {
    padding-left: 8px;
  } */

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#navbar {
  padding-left: 8px;
  padding-right: 8px;
}
#card {
  border: #c8e0f9;
  border-radius: 10px;
  background-color: rgb(220, 207, 249);
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  padding: 8px 2px 5px 8px;
  margin-top: 15px;
}
#card:hover,
#profile_pic:hover,
#profile_det:hover {
  -webkit-box-shadow: 0 0 25px 2px #aaaaa7;
  box-shadow: 0 0 25px 2px #a2a2a0;
}
#card_pic {
  /* border-radius: 50%; */
  height: 80px;
  margin-bottom: 8px;
}
#card_heading {
  color: rgb(4, 2, 71);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

/* profile */
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#profile_pic {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 50px 5px 8px 5px;
  background: radial-gradient(
    circle,
    rgba(251, 246, 63, 1) 0%,
    rgba(19, 221, 245, 1) 100%
  );

  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite normal;
  height: 250px;
  font-size: xx-large;
}
#profile_det {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 10px 5px 8px 15px;
  background: radial-gradient(
    circle,
    rgba(174, 238, 238, 1) 0%,
    rgba(99, 194, 240, 1) 100%
  );

  /* height: 500px; */
  font-size: 25px;
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite normal;
  font-weight: bold;
}
#profile_det h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  color: #022d5a;
  margin-bottom: 8px;
  font-weight: bold;
}
#service_hist {
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 10px 5px 8px 15px;
  background: radial-gradient(
    circle,
    rgba(63, 251, 217, 1) 0%,
    rgba(207, 251, 114, 1) 100%
  );

  /* height: 500px; */
  font-size: 25px;
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite normal;
  font-weight: bold;
}
/* contact */

#contact {
  border-radius: 15px;
  border: 5px solid #000;
  /* -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
    box-shadow: 0 0 25px 2px #e1e1e0; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 50px 5px 8px 5px;
}

/* footer  */
.footer {
  /* background-color: #8ae9e9; */
  /* padding: 20px 0; */
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

#member_form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#accept {
  float: right;
  display: flex;
  margin-top: 15px;
  margin-right: 5px;
}
#acc {
  float: left;
  display: flex;
}
