* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  right: 0;
  padding: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2em 4em;
  z-index: 1000;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

a {
  text-decoration: none;
}

#logo h2 {
  color: white;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

.main video {
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(25%);
}

.text {
  position: relative;
  z-index: 10;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  line-height: 1rem;
  color: rgb(247, 226, 226);
}

.text p {
  font-size: 2rem;
  margin: 2rem 0;
  max-width: 800px;
  color: azure;
}

.text button {
  /* display: inline-block; */
  border-color: white;
  font-size: 1rem;
  background: white;
  padding: 1em 1.7em;
  margin-top: 1rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: 0.2s;
  border-radius: 10px;
}

.text button:hover {
  letter-spacing: 0.8rem;
}
/* video {
  height: 2000px;
} */
@media screen and (max-width: 768px) {
  /* Adjust header */
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  /* Adjust header */
  h1 {
    font-size: 30px;
  }
}
