nav ul li a:hover {
  /* background-color: #002e5b; */
  color: #100351;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

a h2 {
  margin-left: 20px;
  color: #f1f2f4;
  font-size: 30px;
  padding: 15px 10px 15px 0;
  display: inline-block;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
nav ul li a {
  margin-left: 20px;
  color: #f1f2f4;
  font-size: 22px;
  padding: 25px 20px 25px 0;
  display: inline-block;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/* Profile Picture */
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}
.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
#bar {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

#des {
  color: antiquewhite;
  /* text-align: center; */
  margin: 2px 0 5px 8 px;
  padding-left: 25px;
  padding-top: 15px;
}
button a {
  text-decoration: none;
  font-weight: 700;
}
#info {
  font-size: xx-large;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
#ngobtn {
  margin-left: 100px;
  background-color: aqua;
  color: rgb(11, 4, 67);
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: black;
  padding: 8px 5px 8px 5px;
  width: 120px;
}
#line {
  /* margin-left: ; */
}
