h1 {
  font-size: 45px;
}
button a {
  text-decoration: none;
  font-weight: 700;
}
button a:hover {
  color: #f1f2f4;
}
nav ul li a:hover {
  /* background-color: #002e5b; */
  color: #100351;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

a h2 {
  margin-left: 20px;
  color: #f1f2f4;
  font-size: 30px;
  padding: 15px 10px 15px 0;
  display: inline-block;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
nav ul li a {
  margin-left: 20px;
  color: #f1f2f4;
  font-size: 22px;
  padding: 25px 20px 25px 0;
  display: inline-block;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/* Profile Picture */
.profile-pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.profile-menu .dropdown-menu {
  right: 0;
  left: unset;
}
.profile-menu .fa-fw {
  margin-right: 10px;
}

.toggle-change::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
#bar {
  background: linear-gradient(to right, #00b09b, #96c93d);
}

#des {
  color: antiquewhite;
  /* text-align: center; */
  margin: 2px 0 5px 8 px;
  padding-left: 25px;
  padding-top: 15px;
  height: 400px;
}
p {
  font-weight: 700;
  font-size: 15px;
}

/* slider */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.carousel-caption h5 {
  font-size: 5rem;
  margin-bottom: 12rem;
}
.carousel-item img {
  filter: brightness(30%);
}
 .row{
  margin-top: 1rem;
 }
 