.sidenav {
  height: 95%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c8e0f9; /* Light gray background color */
  padding-top: 20px;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 70px;
  margin-left: 15px;
}
.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
  font-family: cursive;
}
.sidenav a:hover {
  /* background-color: #82f5bd; */
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px 10px #ffff2e;
  box-shadow: 0 0 15px 10px #ffff2e;
}
.main {
  margin-left: 250px; /* Adjust this value to match the width of the sidenav */
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 16px;
  }
}
i {
  width: 25px;
  margin-right: 5px;
}
#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: navy;
  font-size: x-large;
}
#title span {
  color: rgb(13, 198, 195);
  font-weight: 300;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* .sidenav span {
  padding-left: 8px;
} */

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sidenav {
  background: linear-gradient(45deg, #00b09b, #96c93d);
  background-size: 100% 100%;
  animation: color 5s ease-in-out infinite normal;
  border-radius: 25px;
}
#navbar {
  padding-left: 8px;
  padding-right: 8px;
}
#card {
  border: #c8e0f9;
  border-radius: 10px;
  background-color: rgb(200, 235, 246);
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  padding: 8px 2px 5px 8px;
  margin-top: 15px;
}
#card:hover,
#profile_pic:hover,
#profile_det:hover {
  -webkit-box-shadow: 0 0 25px 2px #aaaaa7;
  box-shadow: 0 0 25px 2px #a2a2a0;
}
#card_pic {
  border-radius: 50%;
}

/* profile */
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#profile_pic {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 50px 5px 8px 5px;
  background: linear-gradient(
    45deg,
    rgb(83, 246, 246),
    rgb(129, 207, 235),
    rgb(186, 247, 245),
    rgba(35, 244, 202, 0.721)
  );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite normal;
}
#profile_det {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 10px 5px 8px 15px;
  background: linear-gradient(
    45deg,
    rgb(26, 244, 146),
    rgb(102, 248, 180),
    rgb(89, 216, 191),
    rgba(144, 246, 220, 0.721)
  );
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite normal;
}

/* contact */

#contact {
  border-radius: 15px;
  -webkit-box-shadow: 0 0 25px 2px #e6e6e3;
  box-shadow: 0 0 25px 2px #e1e1e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 50px 5px 8px 5px;
}
